  @font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/caveat/Caveat-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/caveat/Caveat-Medium.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/caveat/Caveat-SemiBold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/caveat/Caveat-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'FuzzyBubbles';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/fuzzy-bubbles/FuzzyBubbles-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'UbuntuMono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/ubuntu-mono/UbuntuMono-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Sawah';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/sawah/Sawah.woff2') format('woff2');
  }
