@import 'styles/styles.scss'; 

// C o l o r - P a l e t t e
$blue: #03a9f4;
$blue-green: #00bcd4;

$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
$family-sans-serif: "UbuntuMono", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//Navbar 
$navbar-background-color: $beige-lighter;
$navbar-item-hover-background-color: none;

/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bulma */
@media screen and (min-width: 1024px){
  .navbar-menu {
    flex-grow: 0 !important;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 1024px){
.navbar, .navbar-menu, .navbar-start, .navbar-end {
  align-items: stretch;
  display: flex;
  justify-content: center;
  align-items:center;
 }
}

@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/base/_all';
@import 'bulma/sass/elements/_all';
@import 'bulma/sass/form/_all';
@import 'bulma/sass/components/_all';
@import 'bulma/sass/grid/_all';
@import 'bulma/sass/helpers/_all';
@import 'bulma/sass/layout/_all';

